body{
    font-family: 'Raleway', sans-serif !important;
}
a:hover{
    text-decoration: none;
}

.navbar-fixed{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-item{
    font-size: 15px;
    color: black;
} 

.navbar{
    padding: 0px !important;
}
.navbar a{
    font-size: 15px;
    color: black !important;
    padding: 17px;
}
.navbar a:hover{
    background-color: #9e9e9e;
}

.home-carousel-bg{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('image/img.jpg');
    background-repeat: no-repeat;   
    background-size: cover;
}

.home-carousel-card{
    padding: 500px 48px;
}

.home-carousel-card h1{
    color: #fff;
    font-size: 64px;
}

.home-carousel-card p{
    color: #fff;
    font-size: 18px;
    margin: 15px 0px;
}
.learn-more{
    display: inline-block;
    background-color: grey;
    padding: 12px 24px;
    margin: 16px 0px 0px;
}
.learn-more:hover{
  background-color: whitesmoke;
  color: grey;
}
.icon li{
    display: inline-block;
    margin: 0px;
    left: 0%;
    color: grey;
}
.icon{
    padding: 24px 48px;
    font-size: 15px;
}
.fa-brands:hover{
    opacity: 0.2;
}
.about{
    border: 2px ;
    padding: 100px 15px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.color h3{
    color: #fff;
}
.about-center h3{
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 400;
}
.features{
    margin: 18px 0px;
    font-size: 18px;
}
.card-icon{
    padding: 0px 10px;
    display: inline-block;
}
.abt-icon{
    margin: 18px 0px;
    font-size: 18px;
    font-weight: 400;
}
.abt{
    margin: 15px 0px;
    font-size: 15px;
}
.design-section{
    padding: 100px 20px;
    background-color: #f1f1f1!important;
}
.design-section h3{
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 400;
}
.design-section p{
    margin: 15px 0px; 
    font-size: 15px;
}
.work-btn a{
    color: white;
}
.work-btn a:hover{
    text-decoration: none;
}
.work-btn{
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    border: none;
    font-size: 12px;
}
.work-btn:hover{
    color: white;
    background-color: grey;
}
.main-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main-img img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    padding: 0px 5px;
}
.team-section{
    padding: 120px 16px; 
}
.the-team{
    text-align: center;
    margin: 20px 0px;
    font-size: 24px;
}
.company-runs{
    text-align: center;
    margin: 25px 0px;
    font-size: 18px;
}
.team-card-body{
    padding: 0px 15px;
}
.team-card-body h3{
    margin: 10px 0px;
    font-size: 24px;  
}
.profile-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.profile-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    filter: grayscale(80%);
}
.post{
    opacity: 0.60;
    font-size: 15px;
    margin: 15px 0px;
}
.team-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding-bottom: 3px; 
}

.card-info{
    margin: 15px 0px;
    font-size: 15px;
}
.contact-btn a>p{
    background-color: #f1f1f1;
    padding: 8px 16px;
    width: 100%;
    text-align: center;
    color: black;
    margin-bottom:  6px;
}
.contact-btn p:hover{
    background-color: gray
}
.portfolio-div{
    background-color: #616161!important;
    padding: 64px 16px;
}
.projects{
    text-align: center;
    color: #fff;
}
.portfolio{
    font-size: 36px;
}
.work-section{
    padding: 120px 15px;
}
.work-section h3{
    font-size: 24px;
    margin: 10px 0px;
    text-align: center;
}
.work-section p{
    font-size: 18px;
    margin: 18px 0px;
    text-align: center;
}
.work-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    gap: 1px;
}
.work-img img{
    padding: 0px 8px;
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.img-main-div{
    padding: 8px;
}
.img-row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.img-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.skill-section{
    padding: 64px 16px;
    background-color: #f1f1f1;
}
.skill{
    margin: 10px 0px;
    font-size: 24px;
    text-align: left;
}
.abt-skills{
    margin: 15px 0px;
    font-size: 15px;
    text-align: left;
}
.progress-barr p{
    color: black;
    margin: 15px 0px;
    font-size: 15px;
    letter-spacing: 2px;
}

.progress-bar-main-div{
    width: 100%;
    background-color: #9e9e9e;
    color: #f1f1f1;
} 
.photo-bar-div{
    width: 90%;
    text-align: center;
    background-color: #616161;
}
.design-bar-div{
    width: 85%;
    text-align: center;
    background-color: #616161;
}
.image-bar-div{
    width: 75%;
    text-align: center;
    background-color: #616161;
}
.pricing{
    padding: 128px 16px;
    background-color:#616161;
}
.pricing h3{
    text-align: center;
    margin: 10px 0px;
    font-size: 24px;
    color: #F1F1F1;
}
.pricing h6{
    text-align: center;
    margin: 18px 0px;
    font-size: 18px;
    color: #F1F1F1;
}
.pricing-card{
    list-style-type: none;
    padding-left: 0%;
}
.card-header{
    padding: 32px 16px;
    font-size: 24px;
    color:white;
    background-color: black;
    text-align: center;
}
.price-card-body{
    padding: 15px;
    font-size: 16px;
    text-align: center;
    background-color: #f1f1f1;
    border-bottom: 0.5px solid rgb(182, 182, 182);
}
.card-price{
    text-align: center;
    background-color: #f1f1f1;
    padding: 16px;
    font-size: 16px;
}
.money{
    font-size: 30px;
    margin-bottom: 10px;
}
.duration{
    color: #616161;
}
.card-footer{
    padding: 24px 16px;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-btn{
    background-color: black;
    padding: 12px 24px;
    color: #F1F1F1;
    font-size: 15px;
    border: none;
}
.bottom-btn:hover{
    background-color: gray
}
.center-card .card-header{
    background-color: #F44336;
    padding: 48px 16px;
}
.card-section{
    margin-top: 64px;
}
.end-card{
    margin-top: 16px;
}
.form-section{
    padding: 128px 16px;
   background-color: #f1f1f1!important ;
}
.form-section h3{
    margin: 10px 0px;
    font-size: 24px;
    text-align: center;
}
.form-section h6{
    margin: 18px 0px;
    font-size: 18px;
    text-align: center;
}
.contact-icon{
    margin: 15px 0px;
    font-size: 18px;
}
.contact-icon span{
    margin-right: 17px;
}
.form-control{
    padding: 8px;
    border-radius: 0%;
    font-size: 15px;
}
.btn-btn-primary{
    padding: 8px 16px;
    font-size: 15px;
    background-color: black !important;
    border:none !important;
    border-radius: 0%;
    margin: 15px 0px;
    color: #f1f1f1;
}
.btn-btn-primary:hover{
    background-color: #9e9e9e !important;
    border:none !important;
}


.map-img{
    filter: grayscale(75%);
    margin-top: 48px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.map-img img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.footer{
    padding: 64px 0px;
    text-align: center;
    background-color: black;
}
.footer-btn{
    padding: 8px 16px;
    font-size: 15px;
    background-color: #f1f1f1;
    border: none;
}
.footer-btn:hover{
    background-color: gray
}
.footer-icon{
    display: inline-block;
    color: white;
    margin: 16px 0px;
    font-size: 24px;
}
.reference{
    margin: 15px 0px;
    font-size: 13px;
    color: #f1f1f1;
}
